/* 复杂背景图案 */

.compli-bg {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 2px solid royalblue;

    /* 网格背景 */
    /*background: white;*/
    /*background-image: linear-gradient(90deg,*/
    /*rgba(200,0,0,.5) 50%, transparent 0),*/
    /*linear-gradient(*/
            /*rgba(200,0,0,.5) 50%, transparent 0);*/
    /*background-size: 30px 30px;*/

    /*background: #58a;*/
    /*background-image:*/
            /*linear-gradient(white 1px, transparent 0),*/
            /*linear-gradient(90deg, white 1px, transparent 0);*/
    /*background-size: 30px 30px;*/

    /*background: #58a;*/
    /*background-image:*/
            /*linear-gradient(white 2px, transparent 0),*/
            /*linear-gradient(90deg, white 2px, transparent 0),*/
            /*linear-gradient(hsla(0,0%,100%,.3) 1px,*/
            /*transparent 0),*/
            /*linear-gradient(90deg, hsla(0,0%,100%,.3) 1px,*/
            /*transparent 0);*/
    /*background-size: 75px 75px, 75px 75px,*/
    /*15px 15px, 15px 15px;*/

    /* 波点背景 */
    /*background: #655;*/
    /*background-image: radial-gradient(tan 30%, transparent 0);*/
    /*background-size: 30px 30px;*/

    background: #655;
    background-image: radial-gradient(tan 30%, transparent 0),
    radial-gradient(tan 30%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;

}